<%= page_title "Administration" %>

<div class = 'heading'>
	<div class = 'left'>
		User Administration <br />
		<ul>
			<ol><%= link_to 'Edit User', edit_user_registration_path %></ol>
		</ul>
	</div>
	<div class = 'right'>
		Types of Contacts <br />
		<ul>
			<ol><%= link_to 'List All Types', contacttypes_path %></ol>
			<ol><%= link_to 'Add New Type', new_contacttype_path %></ol>
		</ul>
	</div>
</div>



