<%= page_title "Home" %>

<div class='heading'>
	Welcome!
	<div class='text'>
		Your Carreer, Your Destiny is the only website built from the ground up to help you, the 
		individual, manage the search for your next career opportunity.  All of the other job or career boards
		are focused on simply displaying the current jobs posted and providing some tools to apply for the job.
	</div>
	How are we different?
	<div class='text'>
		We do not cater to the placement firms, recruiters, headhunters.<br />
		We do not cater to the companies, the HR departments.<br />
		We cater to you the person who wants to manage thier career and control thier destiny.<br />
	</div>
	How do we differ from Linked-in?
	<div class='text'> 
		This website compliments Linked-in.  You can easily leverage your contacts in Linked-in.  
		Your Linked-in contacts will be correlated when you add an opportunity so you can quickly 
		see if you know anyone within the company.<br />
		If you manually add a contact, the system will automatically search Linked-in to see if the 
		person is on Linked-In and connected to you.
	</div>
	Why integrate with Google?
	<div class='text'>
		We integate with Google in two distinct ways.<br />
		First we sync your Google contacts with your 
		contacts here.  This allows any contacts you generate during your search to be available from 
		your Android powered smart phone or tablet.<br />
		Second we integrate with Google calender, setting reminders to call or follow up with people 
		that you set in the notifications or appointments.
	</div>
	Why not use Linked-In and Google seperately during my search?
	<div class='text'>
		We provide you with the detailed record of who you contacted, how many times and when you 
		last talked to them.  This provides you with better information to guide you during your search and 
		allows you to determine what contacts are helpful and which methods are most effective.
	</div>
	How do I get Started?
	<div class='text'>
		Easy.  For first time user, just register your name and email to create your personal work area.
		Your email is your login id.  If are a returning user and cannot remember your password, on the 
		login page, enter your email and click on "Can't Remember Password".  An email will be sent to 
		your email address with instructions to reset the password.
	</div>
</div>


	
